<nav class="navbar navbar-dark">
Interview Crackers
</nav>
<div class="container">
    <div class="row justify-content-center p-2">
        <h1>Angular 9 with Firebase crud app</h1>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Enter Employee Name">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="employeeAge" placeholder="Enter Employee Age">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="employeeAddress" placeholder="Enter Employee Address">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="CreateRecord()" [disabled]="!employeeName || !employeeAge || !employeeAddress">Create Employee</button>
    </div>
    <div class="form-group">
        <h4><b>{{message}}</b></h4>
    </div>

    <div class="row p-2">
        <div class="col-md-12 p-2 justify-content-center">
            <h4>All Employee Data</h4>
        </div>
        
        <div class="col-md-3" *ngFor ="let item of employee">
            
            <div class="card" *ngIf="!item.isedit; else elseBlock">
                <div class="card-body">
                    <div class="card-title">
                        Name: {{item.name}}
                    </div>
                    <div class="card-subtitle">
                        Age: {{item.age}}
                    </div>
                    <div class="card-text">
                       Address: {{item.address}}
                    </div>
                    <span>
                        <a href="#" (click)="EditRecord(item)" class="btn btn-primary btn-xs">Edit Employee</a>
                        <a href="#"  (click)= "Deleteemployee(item.id)" class="btn btn-danger btn-xs">Delete Employee</a>
                    </span>
                </div>
            </div>

            <ng-template #elseBlock>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Edit Employee
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="item.editname" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <input type="number" [(ngModel)]="item.editage" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="item.editaddress" class="form-control">
                                </div>
                            </div>
                        </div>

                        <a href="#" class="btn btn-danger btn-xs" (click)="item.isedit = false">Cancel</a>
                        <a href="#" class="btn btn-primary btn-xs" (click)="Updatarecord(item)">Update Employee</a>
                   
                    </div>
                </div>
            </ng-template>



        </div>
    </div>


</div>
